{% extends "base.html" %}

{% block content %}
    <div class="row">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="alert alert-warning" role="alert">
              {% for message in messages %}
                  {{ message }}<br>
              {% endfor %}
          </div>
          {% endif %}
          {% endwith %}
          <p></p>
          <center><h5 align="justify">Это web-приложение для сбора постов телеграм-каналов и экспорт текста постов в формате: txt, csv, pdf
            (с фото к постам). Пользователь вводит название телеграм-каналов (максимум 20) для отслеживания постов. 
            Также пользователь может выбрать период сбора постов телеграм-каналов и получать в ответ собранные данные в трех форматах. 
            Если поставить галочку "комментарии", дополнительно выгружаются комментарии к постам.</h5></center>
            <div class="col-12">
              <div style="height: 20px;"></div>
              <center><h2>Статистика сайта. </h2>
              <div style="height: 20px;"></div>
              <h4>Всего пользователей: {{ users }}</h4>
              <h4>Всего отслеживаемых каналов: {{ channels }}</h4>
              <h4>Всего постов: {{ posts }}</h4></center>
            </div>
    </div>
{% endblock %}
