{% extends "base.html" %}

{% block content %}
<div style="height: 40px;"></div>
<div class="row">
  <div class="col-12"> 
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-warning" role="alert">
          {% for message in messages %}
            {{ message }}<br>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  </div>
    <div class="col-4">      
      <form class="" action="{{ url_for('user.process_add_ch') }}" method="POST">
            {{ form.hidden_tag() }}
          <div class="form-group text-center">
            <h4>{{ form.url_channel.label }}</h4>
            {{ form.url_channel() }}
          </div>
          <div class="center"><center>
            {{ form.submit_add() }}
            {{ form.submit_del() }}
          </div></center>
      </form>

      <div style="height: 30px;"></div>
      <form class="" action="{{ url_for('user.process_add_ch') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group text-center">
          <h4>{{ form.day_count.label }}</h4>
          {{ form.day_count() }}
        </div>

        <div class="center"><center>
          {{ form.submit_download_txt() }}
          {{ form.submit_download_csv() }}
          {{ form.submit_download_pdf() }}
        </div></center>
      </form> 
    </div>    

  <div class="col-4">
      <div class="text-center">
        <h4>Cписок ваших каналов:</h4>

        <ul class="list-group list-group-flush">          
          {% for message in your_с  %}
            <li class="list-group-item">{{ message }}</li>
          {% endfor %}
          <li class="list-group-item"></li>
        </ul>
      </div>
    </div>

    <div class="col-4">
      <form class="" action="{{ url_for('user.process_add_ch') }}" method="POST">
        {{ form.hidden_tag() }}
      <div class="form-group text-center">
        <h4>{{ form.search.label }}</h4>
        {{ form.search() }}
        {{ form.search_day() }}
      </div>
      <div class="center"><center>
        {{ form.submit_search() }}
      </div></center>
  </form>      
      </div>      
    </div>
</div>

</div>
{% endblock %}