<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>{{ page_title }}</title>
    </head>
    <body>
        <div class="container">
        <h1>{{ first }}</h1>
        </div>
        <div class="row">
            <div class="col-8">
        <ul>
            <li>Строка одиин (что-то)</li>
            <div class="w-25 p-3" style="background-color: rgb(135, 131, 187);">Строчечка цветная</div>
            <li>Строка два (что-то)</li>
            <div class="w-25 p-3" style="background-color: rgb(72, 143, 110);">Строчечка зелененькая</div>
            <li>Строка три что-то</li>
            <div class="w-25 p-3" style="background-color: rgb(195, 162, 162);">Строчечка еще в цвете</div>
            <li>Строка n (что-то)</li>
            <div class="w-25 p-3" style="background-color: rgb(130, 122, 122);">Темная строчечка</div>
        </ul>
            </div>
            <div class="col-4">
            <nav class="navbar bg-light">
                <div class="container">
                  <a class="navbar-brand" href="#">
                    <img src="https://cs13.pikabu.ru/post_img/big/2020/06/11/5/1591857273183626976.jpg" alt="Bootstrap" width="310" height="350">
                  </a>
                </div>
              </nav>
                <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>

